 body,p,input,h1,h2,h3,h4, h5,h6,ul,ol,dl,dd,form,input,ul,ol{margin:0px;padding:0px;list-style:none;font-weight:normal;font-family:"微软雅黑"}   
   img{border:none;}
   a{text-decoration:none;color:#8c8c8c;}